<nav class="navbar navbar-dark bg-info">
  <span class="navbar-brand font-weight-bold mb-0 h1 pl-5">POST</span>

  <span class="mr-5"
    ><a
      class="btn btn-dark"
      href="<%=posts_dashboard_path%>"
      role="button"
      >Crea tu Post</a
    ></span
  >
</nav>
